# 컨테이너 타입

 * 리스트(list): 데이터를 연속적으로 관리. 값을 바꿀 수 있음
 * 튜플(tuple): 데이터를 연속적으로 관리. 값을 바꿀 수 없음
 * 세트(set): 집합과 같은 속성
 * 딕셔너리(dictionary): key-value 쌍

__리스트(list)__

In [3]:
fruit_list = ["apple", "banana", "orange"]
fruit_list[0]

'apple'

In [4]:
len(fruit_list)

3

In [5]:
fruit_list = ['apple', 'straberry', 'blueberry']
fruit_list

['apple', 'straberry', 'blueberry']

In [6]:
fruit_list.insert(2, 'mange')
fruit_list

['apple', 'straberry', 'mange', 'blueberry']

In [7]:
fruit_list.append("watermelon")
fruit_list

['apple', 'straberry', 'mange', 'blueberry', 'watermelon']

In [8]:
vegetable_list = ["carrot", "tomato", "onion"]
fruit_list.extend(vegetable_list)
fruit_list

['apple',
 'straberry',
 'mange',
 'blueberry',
 'watermelon',
 'carrot',
 'tomato',
 'onion']

In [9]:
list1 = [1, 2, 3]
list2 = ['가', '나', '다']
list3 = list1 + list2
list3

[1, 2, 3, '가', '나', '다']

In [10]:
fruit_list = ['apple', 'tomato', 'banana', 'orange']
fruit_list.remove("tomato")
fruit_list

['apple', 'banana', 'orange']

In [11]:
del fruit_list[-1]
fruit_list

['apple', 'banana']

In [12]:
fruit_list = ['apple', 'banana', 'orange']
fruit_list.clear()
fruit_list

[]

In [13]:
fruit_list = ['strawberry', 'mango', 'blueberry', 'watermelon', 'apple', 'banana', 'orange']
fruit_list.sort()
fruit_list

['apple', 'banana', 'blueberry', 'mango', 'orange', 'strawberry', 'watermelon']

In [14]:
fruit_list.sort(reverse=True)
fruit_list

['watermelon', 'strawberry', 'orange', 'mango', 'blueberry', 'banana', 'apple']

__튜플(tuple)__

In [15]:
fruit_tuplea = ("apple", "banana", "orange")
fruit_tuple[1]

NameError: name 'fruit_tuple' is not defined

In [ ]:
fruit_list = list(fruit_tuple)
fruit_list.append("watermelon")
fruit_list.remove("apple")
fruit_tuple = tuple(fruit_list)
fruit_tuple

## 조건문

In [16]:
weather = '비'
today_temp = 30

if weather == '맑음':
    if 0 < today_temp:
        print("아이스 아메리카노")
    elif 0 == today_temp:
        print("미지근한 아메리카노")
    else:
        print("따뜻한 아메리카노")
else:
    print("카푸치노")

카푸치노

## 과제

In [17]:
a = '21'
b = '+'
c = '30'

if str(b) == '+':
    d = float(a) + float(c)
    print(d)
else:
    print("+ 연산자만 가능합니다.")

51.0

In [18]:
a = '30'
b = '/'
c = '0'

if str(a) == '0' or str(c) == '0':
    print("0.000000로 나누기를 수행할 수 없습니다.")
else:
    d = float(a) / float(b)
    print(d)

0.000000로 나누기를 수행할 수 없습니다.

In [19]:
a = '0.2'
b = '*'
c = '0'

if str(b) == '*':
    d = float(a) * float(c)
    print(d)
else:
    print("* 연산자만 가능합니다.")

0.0

In [20]:
a = '30'
b = '?'
c = '0'

if str(b) != "+" and str(b) != "-" and str(b) != "*" and str(b) != "/":
    print(b + "는 허용하지 않습니다")
else:
    print(b + "는 연산이 가능합니다")

?는 허용하지 않습니다

## 반복문

__for문__

In [21]:
scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new_scores = []

for s in scores:
    new = s + 5
    new_scores.append(new)

print(new_scores)

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [22]:
scores = [80, 90, 70, 65, 95, 100, 90, 80, 75, 80]
new_scores = []

for s in scores:
    if s <= 95:
        new = s + 5
    else:
        new = 100
    new_scores.append(new)
    
print(new_scores)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

In [58]:
dan = input('-사용자입력(단):')
values = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_values = []
for a in values:
    new = a * int(dan)
    print(dan, " x ", a, " = ", new)
    new_values.append(new)

-사용자입력(단):9
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81

__컴프리헨션__

In [24]:
scores = [80, 90, 70, 65, 95, 100, 90, 80, 75, 80]
new_scores = [s + 5 if s <= 95 else 100 for s in scores]
print(new_scores)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

__while문__

In [25]:
scores = [80, 90, 70, 65, 95, 100, 90, 80, 75, 80]
new_score = []
index = 0

while(index < len(scores)):
    if scores[index] < 100:
        new = scores[index] + 5
    else:
        new = scores[index]
    new_score.append(new)
    index = index + 1

print(new_score)

[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]

In [26]:
time = 0
while(True):
    print('현재 사용량: {}'.format(time))
    if(time >= 300):
        print('[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.')
        break
    else:
        time = time + 50

현재 사용량: 0
현재 사용량: 50
현재 사용량: 100
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

In [28]:
time = 0
while(True):
    print('현재 사용량: {}'.format(time))
    if(time < 150):
        print('안전')
    if(time >= 300):
        print('[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.')
        break
    else:
        time = time + 50

현재 사용량: 0
안전
현재 사용량: 50
안전
현재 사용량: 100
안전
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

In [29]:
time = 0
while(True):
    print('현재 사용량: {}'.format(time))
    if(time < 150):
        pass
    if(time >= 300):
        print('[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.')
        break
    else:
        time = time + 50

현재 사용량: 0
현재 사용량: 50
현재 사용량: 100
현재 사용량: 150
현재 사용량: 200
현재 사용량: 250
현재 사용량: 300
[사용 중단]하루 사용 권장량에 도달 또는 초과하였습니다.

## 입출력

In [31]:
name = input('이름을 입력하세요:')
print(name + '님, 안녕하세요')

이름을 입력하세요:홍길동
홍길동님, 안녕하세요

In [34]:
print("ap", "pl", "e") # 기본 sep은 스페이스 바이다.

ap pl e

In [35]:
print("ap", "pl", "e", sep = ',')

ap,pl,e

In [36]:
print("원숭이 엉덩이는 빨개 ")
print("빨가면 사과")

원숭이 엉덩이는 빨개
빨가면 사과

In [38]:
print("원숭이 엉덩이는 빨개 ", end = "")
print("빨가면 사과")

원숭이 엉덩이는 빨개 빨가면 사과

In [40]:
print("나는" + " 빵을 " + "먹고싶다")

나는 빵을 먹고싶다

In [41]:
print("산토끼 토끼야\n어디를 가느냐\n")

산토끼 토끼야
어디를 가느냐

In [42]:
food = "치킨"
text = "나는 {}을 먹고 싶다"
print(text.format(food))

나는 치킨을 먹고 싶다

In [44]:
text = "{name}님, 반갑습니다.\n적립금은 {money}원 입니다."
print(text.format(name = "홍길동", money = 1000))

홍길동님, 반갑습니다.
적립금은 1000원 입니다.

In [45]:
print("{:.2f}% 확신합니다.".format(95.131415))

95.13% 확신합니다.

In [47]:
print("한 달 휴대폰 요금은 {:,}원 입니다.".format(100000))

한 달 휴대폰 요금은 100,000원 입니다.

In [ ]:
value = input('구하려는 소수의 개수를 입력:')
new_values = []

while(len(new_values) < int(value)):
    if(i<2):
        result = False
    for j in range (2,i):
        if(i%j==0):
                result = False
    if result:
        new_values.append(result)
 print(new_values[value])

In [3]:
def coffee(temp):
    result = ''
    if temp > 0:
        result = '아이스 아메리카노'
    else:
        result = '따뜻한 아메리카노'
    return result

coffee(30)

'아이스 아메리카노'

In [5]:
def update_scores(scores):
    new_scores = []
    
    for s in scores:
        new = s + 5
        new_scores.append(new)
    return new_scores


scores = [80, 90, 70, 65, 85, 95, 90, 80, 75, 80]
new = update_scores(scores)
print(new)

[85, 95, 75, 70, 90, 100, 95, 85, 80, 85]

In [9]:
def alpha_Change(txt):
    upperCase = txt.upper()
    lowerCase = txt.lower()
    return upperCase, lowerCase

alpha_Change("l love seoul")

('L LOVE SEOUL', 'l love seoul')

In [14]:
def calculator(a, b, c):
    if a == "+":
        return b + c
    elif a == "-":
        return b - c
    elif a == "*":
        return b * c
    elif a == "/":
        return b / c
    else:
        print(b + "의 연산자는 연산이 불가능합니다.")

calculator("*", 2, 4)

8

In [21]:
def sum(*args):
    result = 0
    for num in args:
        result = result + num
    return result

sum(10, 2, 3)

15

In [24]:
def kg(height, man=True):
    weight = 0
    if(man):
        weight = (height - 100) * 0.9
    else:
        weight = (height - 100)
    print("권장 체중은 {}kg 입니다.".format(weight))
    
kg(175)

권장 체중은 67.5kg 입니다.

In [29]:
weight = lambda man, height : (height - 100) * 0.9 if(man) else (height - 100)

print( " 권장 체중은 " + str(weight(False, 175)) + "kg입니다.")

 권장 체중은 75kg입니다.

In [30]:
f = open("abc.txt", "w")
f.write("A B C D E F G")
f.close()

In [31]:
f = open("abc.txt", "r")
print(f.read())
f.close()

A B C D E F G